.optionContainer {
  width: 300px;
  display: flex;
  align-items: stretch;
}

.slideContainer {
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.slideContainer > p {
  width: 100%;
  flex-direction: row;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 0px;
}

/* The slider itself */
.slider {
  width: 100%; /* Full-width */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  cursor: pointer;
  margin-left: 4px;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

#startstop {
  width: 50px;
  color: white;
  border: none;
  border-radius: 10px;
}

#startstop.start {
  background-color: #26912d;
}
#startstop.stop {
  background-color: #9c2525;
}

.testModeContainer {
  margin-top: 5px;
  color: #2196F3;
}
.testModeContainer p.disabled {
  display: none
}
.testToggle {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}
.testToggle input {
  opacity: 0;
  width: 0;
  height: 0;
}
.toggleSlider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .2s;
  transition: .2s;
  border-radius: 20px;
}
.toggleSlider:before {
  position: absolute;
  content: "";
  height: 11px;
  width: 11px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
  border-radius: 50%;
}
input:checked + .toggleSlider {
  background-color: #2196F3;
}
input:focus + .toggleSlider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .toggleSlider:before {
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px);
}

.pageDataHeader {
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.pageDataHeader > span {
  opacity: 0.5;
}

.pageDataContainer {
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.currentItems {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.currentItems ul {
  padding-left: 10px;
  margin-top: 5px;
}

.currentItems li {
  display: block;
  padding: 2px;
}

#initItems {
  background-image: url('/images/circular-refresh-arrows.png');
  background-size: 20px 20px;
  background-color: rgba(255, 255, 255, 0);
  height: 20px;
  width: 20px;
  border: none;
  cursor: pointer;

  margin-left: auto; /* Right align */
  margin-bottom: -5px;
  margin-right: 5px;

  opacity: 0.7;
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

#initItems:hover {
  opacity: 1;
}

#initItems.loading {
  -webkit-animation: spin-right 2s linear infinite;
}

.item-summary {
  display: auto;
}
.item-summary > p {
  display: flex;
}
.item-summary.disabled {
  display: none;
}
#newItemCount {
  padding: 0px 3px;
}
#closeItemSummary {
  opacity: 0.7;
  cursor: pointer;
  margin-left: auto;
}
#closeItemSummary:hover {
  opacity: 1;
}

@-webkit-keyframes spin-right {
    100% {
        -webkit-transform: rotate(360deg);
           -moz-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
             -o-transform: rotate(360deg);
                transform: rotate(360deg);
  }
}
